.promotion-over-view {
background-image: url('/assets/img/backgrounds/bg1.jpg?1468099984');
	header {
		position: relative;
		background-repeat: repeat-x;
		
		height: 60px;

		.headers-wrap {
			text-align: center;

			img {
				max-width: 280px;
			}
		}
	}

	.page-content {
		padding-bottom: 32px;
		
		.promotion-text-free{
			    color: $blue-dark;
			    position: absolute;
			    top: 116px;
			    font-size: x-large;
			    text-align: center;
			    font-family: 'VeneerTwo';
		}
		.promotion-text-red{
			font-family: 'VeneerTwo';
		    font-size: x-large;
		    color: $orange-dark;
		    a{
		    	color: $orange-dark;
		    	text-decoration: none;
		    }
		}
	}
}